.avatar{background-position:center center;-webkit-border-radius:0.5em;float:left;border:0;border-radius:0.5em;width:30px;height:30px; background-repeat:no-repeat; background-size:30px auto}
.list-item-bt{background-position:center center;-webkit-border-radius:0.5em;float:left;border:50;border-radius:0.5em;width:25px;height:25px;background-size:27px auto}
.update{background-position:center center;-webkit-border-radius:0.5em;float:right;border:0;border-radius:0.5em;width:45px;height:45px;background-size:47px auto}
.x-list-item.customer{font-size:0.9em;line-height:1.4em; }
h3{font-size:1.2em;line-height:1;margin-bottom:0.50em;} h4{font-size:0.60em;line-height:1;margin-bottom:0.50em}

.imageLines{background-color:#fff;background-position:top;background-repeat:no-repeat;height:160px;max-width:150px}
.color{background-color:#fff;background-position:center;background-repeat:no-repeat;height:64px;width:64px}
/*.categories-list{text-align:center}.categories-list .categories-list-container{max-width:1024px;margin:0 auto}.categories-list .categories-list-item{background:rgba(238,238,238,0.5);border:1px solid rgba(67,67,67,0.5);height:180px;-webkit-transition:background .2s ease-in, border-color .2s ease-in}body.x-phone .categories-list .categories-list-item{margin:0 20px;margin-top:20px;padding:30px}body.x-phone .categories-list .categories-list-item:first-child{margin-top:0}body:not(.x-phone) .categories-list .categories-list-item{display:inline-block;padding:30px 50px}.categories-list .categories-list-item .image{background-color:#fff;background-position:center;background-repeat:no-repeat;height:120px;max-width:100px}body.x-phone .categories-list .categories-list-item .image{margin:0 auto}body:not(.x-phone) .categories-list .categories-list-item .image{width:100px}.categories-list .categories-list-item .name{padding-top:20px;font-size:20px;text-shadow:0 1px 0 #000;color:#fff;font-family:'Quattrocento Sans', sans-serif}.x-landscape .categories-list .categories-list-item{margin:10px}.x-portrait .categories-list .categories-list-item{margin:20px}.categories-list .x-item-pressed{background:rgba(0,53,41,0.7);border-color:rgba(0,53,41,0.8)}.categories-list .categories-list-inner{line-height:10px}.x-landscape .categories-list .categories-list-inner{padding-top:10px}.x-portrait .categories-list .categories-list-inner{padding-top:20px;padding-bottom:20px}.categories-list.root{background-image:url(../images/bg.jpg);background-position:top center;background-repeat:no-repeat}body:not(.x-phone).x-landscape .categories-list.root .categories-list-item:first-child{margin-right:345px}.x-phone .categories-list.root .categories-list-inner{padding-top:100px}body:not(.x-phone).x-portrait .categories-list.root .categories-list-inner{padding-top:280px}*/

.list .x-dataview-item {
	/*border: 1px solid rgba(67, 67, 67, .5);*/
    width: 25%;
    align: center;
    display: inline-block;     
}


.panelBackground {
 	background: url('../../resources/img/fundo.png')  no-repeat center;
}
.itemCor{
	border:1px solid;
	border-radius:5px;
	width: 80%;
	text-align: center;
	padding: 10px;
	margin:  0px auto 0px auto;
}

.x-dataview-item{
	vertical-align:top;
}

.dataviewLines{
	background: white;
}

.itemDesc{
	float: left;
	margin-left: 80px;
    font-size:65%;
}

#promoDiv img
{	
	max-width:60%; 
	max-height:60%;
	margin:auto;
	display:block;
}

.x-tab .x-button-icon.pendente,
.x-button .x-button-icon.x-icon-mask.pendente {
-webkit-mask-image: url('../img/Pendente.png');
}

.x-tab .x-button-icon.liberado,
.x-button .x-button-icon.x-icon-mask.liberado {
-webkit-mask-image: url('../img/Liberado.png');
}

.x-tab .x-button-icon.integrado,
.x-button .x-button-icon.x-icon-mask.integrado {
-webkit-mask-image: url('../img/Integrado.png');
}

.x-tab .x-button-icon.erro,
.x-button .x-button-icon.x-icon-mask.erro {
-webkit-mask-image: url('../img/Errosync.png');
}

.customPressedCls {
    color: rgba(70,96,111);
}
